<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Частные самолеты</title>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="HTML5BOOK"/>

    <link rel="shortcut icon"
          href="/favicon.ico"/>
    <link rel="stylesheet"
          type="text/css"
          href="single.css"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway"
          rel="stylesheet"/>

    <!--Возможно Idea не поймет эту строчку, если будут краши, придется что-то делать-->
    <style type="text/css">
        ont-family:'Raleway', sans-serif;
    </style>

</head>
<div class="container">
    <header>
    </header>
    <ul class="menu-main">
        <li><a href="#about" class="current">О компании</a></li>
        <li><a href="#catalog">Каталог</a></li>
        <li><a href="#location">Контактные данные</a></li>
    </ul>

    <section class="about" id="about">
        <center>
            <img src="https://avatars.mds.yandex.net/get-pdb/1342781/af962bda-58cf-4741-9bc6-888f7a68cfc2/s1200?webp=false">
        </center>

        <h2 style="position: absolute;
	   top: 150px;
	left: 170px;
	width: 100%;">
	<span style="	color: #fff;
	font-family:Ubuntu, cursive;
	font-size: 25px;
	line-height: 55px;;
	background-color:rgba(0,0,0,0.4);
	padding: 10px;">Все любят самолеты<br/>Абсолютно все.</span></h2>

        <br>
        <br>
        <center>
            <td><span style="font-family:Ubuntu, cursive; Font-size:25px;">Краткие сведения: <br></span>
        </center>
        <span style="font-family:Raleway, cursive; Font-size:15px;"><br>
            Компания ICC JET – оказывает качественные брокерские
            услуги по продаже и приобретению самолетов деловой авиации.
            Мы помогаем нашим клиентам в поиске, подборе и приобретении самолетов бизнес-класса
            и организовываем быструю доставку воздушного судна в точку базирования.<br>
            <br>Правильное распределение своего времени очень важно для каждого успешного человека.
            Приобретение частного самолета заметно сократит время, проведенное в пути,
            сделав его использование максимально продуктивным даже в дороге.
            Для бизнесменов, чья деятельность вынуждает к частым перелетам,
            покупка частного самолета будет наилучшим выбором.<br>
            <br>Профессиональные брокеры и квалифицированные специалисты компании ICC JET
            являются опытными партнерами в операциях по приобретению и продаже самолетов.
            Мы сопровождаем каждую сделку от начала до конца, оказывая консультации,
            решая текущие вопросы, оформляя документацию и представляя ваши интересы.
            В каждом отдельном случае мы рассматриваем заявку клиента в индивидуальном порядке и всегда
            гарантируем полную конфиденциальность. Для нас соблюдение интересов наших клиентов - это приоритетная задача.<br>
            <br>Сотрудничество с ICC JET – это оперативность, комфорт и полная уверенность в юридической
            поддержке в течение всего процесса передачи прав собственности на подобранный для Вас
            самолет бизнес-класса. В каждом отдельном случае мы рассматриваем заявку клиента в индивидуальном порядке
            и всегда гарантируем полную конфиденциальность.<br><br>
            </span>
    </section>


</div>
</body>
</html>


