<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Частные самолеты</title>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="HTML5BOOK"/>

    <link rel="shortcut icon"
          href="/favicon.ico"/>
    <link rel="stylesheet"
          type="text/css"
          href="single.css"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway"
          rel="stylesheet"/>

    <!--Возможно Idea не поймет эту строчку, если будут краши, придется что-то делать-->
    <style type="text/css">
        ont-family:'Raleway', sans-serif;
    </style>

</head>
<div class="container">
    <header>
    </header>
    <ul class="menu-main">
        <li><a href="#about" class="current">О компании</a></li>
        <li><a href="#catalog">Каталог</a></li>
        <li><a href="#location">Контактные данные</a></li>
    </ul>

    <section class="about" id="about">
        <center>
            <img src="https://avatars.mds.yandex.net/get-pdb/1342781/af962bda-58cf-4741-9bc6-888f7a68cfc2/s1200?webp=false">
        </center>
    </section>


</div>
</body>
</html>


